body {
  padding: 2%;
}

form {
  display: grid;
  width: fit-content;
}

#uploadContainer {
  display: grid;
  place-items: center;
}

img {
  margin-top: 1%;
  max-width: 500px;
  border: 1px solid #eee;
}

button {
  margin-top: 2%;
  margin-bottom: 2%;
}

.visual-one {
  margin-top: 3%;
}

h3 {
  text-align: center;
}

#averageAccuracy {
  color: rgb(37 176 176);
}
