<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Breed Detector</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <h1 style="text-align: center">Cat Breed Detector</h1>
    <main>
      <div>
        <div id="uploadContainer">
          <h4>Please select a cat image to upload</h4>
          <form action="/predict" method="post" enctype="multipart/form-data">
            <input
              type="file"
              name="file"
              accept="image/*"
              onchange="previewImage(this)"
              required
              class="form-control"
            />
            <button type="submit" class="btn btn-primary">
              Upload and Detect
            </button>
          </form>
          <img
            id="imagePreview"
            src=""
            alt="Image Preview"
            style="max-width: 300px; display: none"
          />
        </div>
        <hr />
        <div>
          <h3>Confidence vs Accuracy</h3>
          <canvas id="lineChart" width="400" height="200"></canvas>
          <p>
            This model has been known to have at least
            <b><span id="averageAccuracy"></span></b> of accuracy. The line
            chart displays the relationship between accuracy and confidence for
            the cat breed detection model. Accuracy represents the proportion of
            correct predictions made by the model, where a value of 100
            indicates a correct prediction and 0 represents an incorrect one.
            Confidence, on the other hand, measures the model's certainty in its
            predictions, expressed as a percentage ranging from 0 to 100. Each
            point on the line chart corresponds to a prediction made by the
            model, with the x-axis representing the confidence level and the
            y-axis representing whether the prediction was correct (100) or
            incorrect (0). This chart helps visualize how the model's confidence
            correlates with its accuracy, providing insights into the model's
            reliability at various levels of certainty.
          </p>
        </div>
      </div>
      <hr />
      <div class="visual-one">
        <h3>Training Data for Machine Learning Model</h3>
        <p>
          This bar graph represents the distribution of images across different
          cat breeds used to train the model. Each bar shows the number of
          images available for a specific breed, providing insights into the
          dataset's composition and helping to visualize the class balance for
          the model's training process.
        </p>
        <canvas id="classChart" width="800" height="400"></canvas>
      </div>
    </main>
    <script>
      function previewImage(input) {
        const fileImg = input.files[0];
        const reader = new FileReader();
        reader.onloadend = function () {
          const preview = document.getElementById("imagePreview");
          preview.src = reader.result;
          preview.style.display = "block";
        };
        if (fileImg) {
          reader.readAsDataURL(fileImg);
        }
      }
      // Render breed training data
      const breedTrainingData = JSON.parse(`{{ training_data | safe }}`);
      const classNames = Object.keys(breedTrainingData);
      const imageCounts = Object.values(breedTrainingData);
      const ctx = document.getElementById("classChart").getContext("2d");
      const classChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: classNames,
          datasets: [
            {
              label: "Number of Images per Breed",
              data: imageCounts,
              backgroundColor: "rgba(75, 192, 192, 0.2)",
              borderColor: "rgba(75, 192, 192, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
              ticks: {
                stepSize: 50,
              },
            },
            x: {
              ticks: {
                maxRotation: 90,
                minRotation: 45,
              },
            },
          },
        },
      });

      // Create a line chart
      const {
        accuracies,
        confidences,
        average_accuracy: averageAccuracy,
      } = JSON.parse(`{{ line_chart_data | safe }}`);
      const averageAccuracyEle = document.getElementById("averageAccuracy");
      averageAccuracyEle.innerText = `${(averageAccuracy * 100).toFixed()}%`;
      const lineChartCtx = document
        .getElementById("lineChart")
        .getContext("2d");
      const lineChart = new Chart(lineChartCtx, {
        type: "line",
        data: {
          labels: Array.from({ length: confidences.length }, (_, i) => i + 1),
          datasets: [
            {
              label: "Confidence (%)",
              data: confidences,
              borderColor: "rgba(54, 162, 235, 1)",
              backgroundColor: "rgba(54, 162, 235, 0.2)",
              fill: true,
              tension: 0.1,
            },
            {
              label: `Accuracy (0 or 100)`,
              data: accuracies,
              borderColor: "rgba(75, 192, 192, 1)",
              backgroundColor: "rgba(75, 192, 192, 0.2)",
              fill: false,
              tension: 0.1,
            },
          ],
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
              ticks: {
                stepSize: 10,
              },
            },
          },
          plugins: {
            legend: {
              position: "top",
            },
          },
        },
      });
    </script>
  </body>
</html>
